<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.godori">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- 카메라 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 저장 권한 설정 (이미지나 동영상을 기기의 외부 장치에 저장할경우) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 카메라기능이 무조건적으로 필요하지 않을 경우 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ood"
        android:label="오늘은 운동해야지"
        android:roundIcon="@mipmap/ic_ood_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GODORI"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.OnBoarding3Activity"></activity>
        <activity android:name=".activity.OnBoarding2Activity" />
        <activity android:name=".activity.OnBoarding1Activity" />
        <activity android:name=".activity.GroupInfoAfterActivity" />
        <activity android:name=".activity.TasteSettingActivity" />
        <activity android:name=".activity.GroupSearchActivity" />
        <activity android:name=".activity.GroupCreation4Activity" />
        <activity android:name=".activity.GroupCreation3Activity" />
        <activity android:name=".activity.GroupCreation2Activity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.Information2Activity" />
        <activity android:name=".activity.Information1Activity" />
        <activity android:name=".activity.GroupProdCompleActivity" />
        <activity android:name=".activity.GroupJoinCompleteActivity" />
        <activity android:name=".activity.GroupCreationCompleteActivity" />
        <activity android:name=".activity.GroupCreation1Activity" />
        <activity android:name=".activity.GroupInfoActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GroupRecruitingActivity" />
        <activity android:name=".activity.CertifTabUpload1Activity" />
        <activity android:name=".activity.CertifTabUpload2Activity" />
        <activity android:name=".activity.CertifTabUpload3Activity" />
        <activity android:name=".activity.CertifTabUpload4Activity" />
        <activity android:name=".activity.CertifTabDetailActivity" />
        <activity android:name=".activity.TabBarActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- 카메라를 위함 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.godori.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoe200b5b18d93a80365a294b563febe4b" />
            </intent-filter>
        </activity>
    </application>

</manifest>